{% extends 'base_generic.html' %}

{% block content %}
<h2>Usuarios Registrados</h2>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Correo</th>
            <th>Fecha de registro</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.date_joined }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
